@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        $.ajax({
            url: "/DemoArea/DemoAController/GetFormJson",
            data: { keyValue: keyValue },
            dataType: "json",
            async: false,
            success: function (data) {
                $("#form1").formSerialize(data);
                $("#form1").find('.form-control,select,input').attr('readonly', 'readonly');
                $("#form1").find('div.ckbox label').attr('for', '');
            }
        });
    });
    function initControl() {
        //$("#OrganizeId").bindSelect({
        //    url: "/SystemManage/Organize/GetTreeSelectJson",
        //});
    }
</script>

<form id="form1">
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
			
			<tr>
                <th class="formTitle">Account</th>
                <td class="formValue">
                    <input id="Account" name="Account" type="text" class="form-control" />
                </td>
            </tr>

			<tr>
                <th class="formTitle">RealName</th>
                <td class="formValue">
                    <input id="RealName" name="RealName" type="text" class="form-control" />
                </td>
            </tr>

			<tr>
                <th class="formTitle">NickName</th>
                <td class="formValue">
                    <input id="NickName" name="NickName" type="text" class="form-control" />
                </td>
            </tr>

			<tr>
                <th class="formTitle">HeadIcon</th>
                <td class="formValue">
                    <input id="HeadIcon" name="HeadIcon" type="text" class="form-control" />
                </td>
            </tr>

			<tr>
                <th class="formTitle">Gender</th>
                <td class="formValue">
                    <input id="Gender" name="Gender" type="text" class="form-control" />
                </td>
            </tr>

			<tr>
                <th class="formTitle">Birthday</th>
                <td class="formValue">
                    <input id="Birthday" name="Birthday" type="text" class="form-control" />
                </td>
            </tr>

        </table>
    </div>
</form>
