@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
    })
    function initControl() {
        $("#permissionTree").treeview({
            //height: 500,
            showcheck: true,
            url: "/SystemManage/Menu/GetPermissionTree",
            param: { roleId: keyValue }
        });
    }
    function submitForm() {
        var postData = $("#form1").formSerialize();
        postData["menuIds"] = String($("#permissionTree").getCheckedNodes());
        $.submitForm({
            url: "/SystemManage/Menu/SaveMenuPermission?keyValue=" + keyValue,
            param: postData,
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        });
    }
</script>
<form id="form1">
    <input type="hidden" name="Id" id="Id" />


    <div class="topPanel" style="border:none">
        <div class="toolbar" >
            <div class="operate" style="left: 0px;border-bottom:solid gray 1px;">
                <ul class="nav nav-pills">
                    <li><a id="NF-Save-PermissionToMenu" onclick="submitForm()"><i class="fa fa-pencil-square-o"></i>保存</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="widget-body">
        <div style="border-left: none; border-bottom: none; border-right: none;">

            <div id="permissionTree" style="height:420px;"></div>

        </div>
    </div>
</form>
