  
<div class="theme-wrapper">
        <header class="navbar" id="header-navbar">
            <div class="container" style="padding-right: 0px;width:100%">
                <a href="#" id="logo" class="navbar-brand">Evolution开发平台</a>
                <div class="clearfix">
                    <div class="nav-no-collapse navbar-left pull-left hidden-sm hidden-xs">
                        <ul class="nav navbar-nav pull-left">
                            <li>
                                <a class="btn" id="make-small-nav" (click)="onSmallNavClick()"><i class="fa fa-bars"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="nav-no-collapse pull-right" id="header-nav">
                        <ul class="nav navbar-nav pull-right">
                            <li>
                                <span style="color:white;font-size:large">问题反馈QQ群：489791124</span>
                            </li>
                            <li class="mobile-search">
                                <a class="btn">
                                    <i class="fa fa-search"></i>
                                </a>
                                <div class="drowdown-search">
                                    <form role="search">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Search...">
                                            <i class="fa fa-search nav-search-icon"></i>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="dropdown hidden-xs">
                                <a class="btn dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-tasks"></i>
                                    <span class="count">5</span>
                                </a>
                            </li>
                            <li class="dropdown hidden-xs">
                                <a class="btn dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-bell"></i>
                                    <span class="count">8</span>
                                </a>
                            </li>

                            <li class="dropdown hidden-xs">
                                <a class="btn dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="count">16</span>
                                </a>
                            </li>
                            <li class="dropdown profile-dropdown">
                                <a href="#" class="dropdown" data-toggle="dropdown">
                                    <img src="/images/samples/scarlet-159.png" alt="" />
                                    <span class="hidden-xs">{{getUserName()}}
                                    </span>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a class="menuItem" data-id="userInfo" href="/SystemManage/User/Info?keyvalue=@this.Context.User.Claims.First(t=>t.Type== OperatorModelClaimNames.UserId).Value"><i class="fa fa-user"></i>个人信息</a></li>
                                    <li><a href="javascript:void();"><i class="fa fa-inbox"></i>我的信箱</a></li>
                                    <li><a href="javascript:void();" onclick="layer.msg('浏览器缓存清除成功');"><i class="fa fa-trash-o"></i>清空缓存</a></li>
                                    <li><a href="javascript:void();"><i class="fa fa-paint-brush"></i>皮肤设置</a></li>
                                    <li class="divider"></li>
                                    <li><a href="~/Login/OutLogin"><i class="ace-icon fa fa-power-off"></i>安全退出</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div id="page-wrapper" class="container">
            <div class="row">
                <div id="nav-col">
                    <section id="col-left" class="col-left-nano">
                        <div id="col-left-inner" class="col-left-nano-content">
                            <div id="user-left-box" class="clearfix hidden-sm hidden-xs dropdown profile2-dropdown">
                                <img alt="" src="/images/samples/scarlet-159.png" />
                                <div class="user-box">
                                    <span class="name">
                                        {{getUserName()}} 
                                    </span>
                                    <span class="status">
                                        <i class="fa fa-circle"></i>在线
                                    </span>
                                </div>
                            </div>
                            <div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">
                                <ul class="nav nav-pills nav-stacked">
                                    <li *ngFor="let item of clientData.authorizeMenu">
                                        <a data-id="{{item.Id}}" href="#" class="dropdown-toggle">
                                            <i class="{{item.Icon}}"></i>
                                                <span>{{item.FullName}}</span>
                                            <i class="fa fa-angle-right drop-icon"></i>
                                        </a>
                                        <ul class="submenu">
                                            <li *ngFor="let sitem of item.ChildNodes">
                                                <a #box class="menuItem" data-id="{{sitem.Id}}" routerLink="{{sitem.UrlAddress}}" (click)="onNavLinkClicked()">
                                                    {{sitem.FullName}}
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-header hidden-sm hidden-xs">
                                        常用菜单
                                        <i class="fa fa-gear" style="color: #868b98; font-size: 12px; margin-top: -6px; position: absolute; right: 23px; top: 50%; cursor: pointer;"></i>
                                    </li>
                                    <li class="common">
                                        <a href="~/SDK/Index.html" target="_blank">
                                            <i class="fa fa-star-o"></i>
                                            <span style="color:red;font-weight:700">SDK说明文档</span>
                                        </a>
                                    </li>
                                    <li class="common">
                                        <a href="#">
                                            <i class="fa fa-star-o"></i>
                                            <span>联系人</span>
                                        </a>
                                    </li>
                                    <li class="common">
                                        <a href="#">
                                            <i class="fa fa-star-o"></i>
                                            <span>合同</span>
                                        </a>
                                    </li>
                                    <li class="common">
                                        <a href="maps.html">
                                            <i class="fa fa-star-o"></i>
                                            <span>产品</span>
                                        </a>
                                    </li>
                                    <li class="common">
                                        <a href="#">
                                            <i class="fa fa-star-o"></i>
                                            <span>客户</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                </div>
                <div id="content-wrapper">
                    <div class="content-iframe" style="background-color: #f9f9f9; overflow: hidden;">
                        <div class="mainContent" id="content-main" style="margin: 10px; margin-bottom: 0px; padding: 0;overflow-y:scroll;">
                            <router-outlet></router-outlet>
                            <!--<iframe class="Evolution_iframe" width="100%" height="100%" src="" frameborder="0" data-id="/Home/Default"></iframe>
                            <iframe class="Evolution_iframe" width="100%" height="100%" src="" frameborder="0" data-id="/Home/About"></iframe>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div id="loadingPage" style="display: none;">
    <div class="loading-shade"></div>
    <div class="loading-content" onclick="$.loading(false)">数据加载中，请稍后…</div>
</div>


