@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    $.fn.extend({
        "fixedSerialize": function () {
            var $f = $(this);
            var data = $(this).serialize();
            var $chks = $(this).find(":checkbox:not(:checked)");    //取得所有未选中的checkbox  

            if ($chks.length == 0) {
                return data;
            }
            var nameArr = [];
            var tempStr = "";
            $chks.each(function () {
                var chkName = $(this).attr("name");
                if ($.inArray(chkName, nameArr) == -1 && $f.find(":checkbox[name='" + chkName + "']:checked").length == 0) {
                    nameArr.push(chkName);
                    tempStr += "&" + chkName + "=";
                }
            });
            data += tempStr;
            return data;
        }
    });



    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/SystemManage/RoleAuthorize/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                    //PermissionIds
                    ps = data.PermissionIds.split(",");
                    for (i = 0; i < ps.length; i++)
                    {
                        nameToFind = ps[i];
                        $("#permissionTree input[name='" + nameToFind + "']").attr("checked", 'true');
                    }
                }
            });
        }
    })
    function initControl() {
        $.ajax({
            url: "/SystemManage/RoleAuthorize/GetResourceTree",
            data: { roleId: keyValue },
            dataType: "json",
            async: false,
            success: function (data) {
                var htmlCode = "<table style='margin-left:5px' class='table table-bordered'>";
                for (var i=0; i < data.length;i++)
                {
                    htmlCode += "<tr>";
                    htmlCode += "<td>";
                    htmlCode += data[i].text;
                    htmlCode += "</td><td>";

                    if(data[i].hasChildren)
                    {

                        for (var t = 0; t < data[i].ChildNodes.length; t++)
                        {
                            htmlCode += "<div class='checkbox' style='float:left;display:inline-block;margin-top:10px;padding-right:5px'><label>";
                            htmlCode += "<input type='checkbox' name='" + data[i].ChildNodes[t].value + "'>";
                            htmlCode += data[i].ChildNodes[t].text;
                            htmlCode += "</label></div>";
                        }
                    }
                    htmlCode += "</td>";
                    htmlCode += "</tr>";
                }
                htmlCode += "</table>";
                $("#permissionTree").html(htmlCode);
            }
        });
    }
    function submitForm() {
        debugger;
        var postData = $("#form1").serialize();
        var code = $("#Id").val();
        //postData["permissionIds"] = String($("#permissionTree").getCheckedNodes());
        $.submitForm({
            url: "/SystemManage/RoleAuthorize/SubmitResourceForm?keyValue=" + code,
            param: postData,
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        });
    }
    function checkAll()
    {
        $("#permissionTree input").each(function () {
            $(this).attr("checked", 'true');
        });

    }
</script>
<form id="form1">
    <input type="hidden" name="Id" id="Id" />
    <div class="widget-body">
        <div class="wizard" style="border-left: none; border-top: none; border-right: none;">
            <table class="form">
                <tr>
                    <th class="formTitle">角色编号</th>
                    <td class="formValue">
                        <input id="EnCode" name="EnCode" type="text" class="form-control required" />
                    </td>

                    <th class="formTitle">角色名称</th>
                    <td class="formValue">
                        <input id="FullName" name="FullName" type="text" class="form-control required" />
                    </td>
                    <td>
                        <button id="btn_finish" type="button" class="btn btn-primary" onclick="submitForm()">完成</button>
                        <button id="btn_checkall" type="button" class="btn btn-primary" onclick="checkAll()">全选</button>
                    </td>
                </tr>
            </table>
        </div>
        <div style="border-left: none; border-bottom: none; border-right: none;">

            <div id="permissionTree" style="height:100%"></div>

        </div>
    </div>
</form>
