<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Warn"
      internalLogToTrace="true"
      internalLogFile="AppData/Logs/NLogInternal.log">

  <!-- 
    - 日志文件被放置于 AppData/Logs 文件夹中，文件名为 {日志类目}.log 或 {日志类目}.err
    - 日志按天存档，放置于 AppData/Logs/Archives/{日志类目} 文件夹中，文件名为 {日期}.log 或 {日期}.err
  -->
  <targets>
    <!-- 通过 System.Diagnostics.Trace 输出由 EF 6 产生的数据库日志可以在 VS 输出窗口看到 -->
    <!--<target name="XXX.Entities.AppDbContext.DatabaseLog.Trace"
            xsi:type="Trace"
            layout="${message}" 
            />-->
    <!-- 在控制台输出由 EF 6 产生的数据库日志 -->
    <target name="XXX.Entities.AppDbContext.DatabaseLog.Console"
            xsi:type="ColoredConsole"
            layout="${message}"
            />
    <!-- 在日志文件输出由 EF 6 产生的数据库日志 -->
    <target name="XXX.Entities.AppDbContext.DatabaseLog.File"
            xsi:type="File"
            layout="${message}"
            encoding="utf-8"
            archiveNumbering="Date"
            archiveEvery="Day"
            archiveDateFormat="yyyy-MM-dd"
            archiveFileName="AppData/Logs/Archives/XXX.Entities.AppDbContext.Database/{#}.log"
            fileName="AppData/Logs/XXX.Entities.AppDbContext.Database.log"
            />
    <!-- 常规的 Trace 输出，调试时可以在 VS 输出窗口看到 -->
    <!--<target name="TRACE"
            xsi:type="Trace"
            layout="[${longdate}] ${pad:padding=-5:inner=${level:uppercase=true}} ${logger}: ${newline}${message}${onexception:inner=${newline}${exception:format=ToString}}${newline}" />-->
    <!-- 常规的控制台输出 -->
    <target name="CONSOLE"
            xsi:type="ColoredConsole"
            layout="[${longdate}] ${pad:padding=-5:inner=${level:uppercase=true}} ${logger}: ${newline}${message}${onexception:inner=${newline}${exception:format=ToString}}${newline}" />
    <!-- 常规的日志文件输出 -->
    <target name="LOG_FILE"
            xsi:type="File"
            layout="[${longdate}] ${pad:padding=-5:inner=${level:uppercase=true}} ${logger}: ${newline}${message}${onexception:inner=${newline}${exception:format=ToString}}${newline}"
            encoding="utf-8"
            archiveNumbering="Date"
            archiveEvery="Day"
            archiveDateFormat="yyyy-MM-dd"
            archiveFileName="AppData/Logs/Archives/${filesystem-normalize:inner=${logger}}/{#}.log"
            fileName="AppData/Logs/${filesystem-normalize:inner=${logger}}.log" />

    <!-- 约定以 err 为文件后缀的日志文件记录了程序输出的警告或者错误。 -->
    <target name="ERROR_LOG_FILE"
            xsi:type="File"
            layout="[${longdate}] ${pad:padding=-5:inner=${level:uppercase=true}} ${logger}: ${newline}${message}${onexception:inner=${newline}${exception:format=ToString}}${newline}"
            encoding="utf-8"
            archiveNumbering="Date"
            archiveEvery="Day"
            archiveDateFormat="yyyy-MM-dd"
            archiveFileName="AppData/Logs/Archives/${filesystem-normalize:inner=${logger}}/{#}.err"
            fileName="AppData/Logs/${filesystem-normalize:inner=${logger}}.err" />

  </targets>

  <rules>
    <!-- 记录所有日志级别不低于 Warn 的日志到日志文件 -->
    <logger name="*" minlevel="Warn" writeTo="ERROR_LOG_FILE" />
    <!-- 记录 EF 生成的 SQL 语句 -->
    <!--<logger name="XXX.Entities.AppDbContext.DatabaseLog" minlevel="Debug"
            writeTo="XXX.Entities.AppDbContext.DatabaseLog.Trace,XXX.Entities.AppDbContext.DatabaseLog.Console,XXX.Entities.AppDbContext.DatabaseLog.File" final="true" />-->
    <!-- 除非调试需要，把 .NET Core 程序集的 Debug 输出都屏蔽 -->
    <logger name="Microsoft.*" minLevel="Info" writeTo="CONSOLE,LOG_FILE" final="true" />
    <!-- 除非调试需要，把系统的 Debug 输出都屏蔽 -->
    <logger name="System.*" minLevel="Info" writeTo="CONSOLE,LOG_FILE" final="true" />
    <!-- 记录应用程序的 Debug 输出 -->
    <logger name="MyApplication.*" minlevel="Debug" writeTo="LOG_FILE" />
  </rules>
</nlog>