@using System.Security.Claims;
@using Evolution.Framework;
@{
    Layout = null;
}
<!DOCTYPE html>
<html style="overflow: hidden;">
<head>
    <title>Evolution快速开发平台 QQ群：489791124</title>
    @*<link href="~/Content/css/framework-font.css" rel="stylesheet" />
    <script src="~/Content/js/jquery/jquery-2.1.1.js"></script>
    <script src="~/Content/js/bootstrap/bootstrap.js"></script>
    <link href="~/Content/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/js/dialog/dialog.js"></script>
    <script src="~/Content/js/cookie/jquery.cookie.js"></script>
    <link href="~/Content/css/framework-theme.css" rel="stylesheet" />
    <script src="~/Content/js/framework-ui.js"></script>
    <script src="~/Content/js/framework-clientdata.js"></script>
    <link href="~/Content/css/bootstrap-fix.css" rel="stylesheet" />*@
</head>
<body style="overflow: hidden;">
服务已经启动
</body>
</html>
