@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>平台介绍</title>
    <link href="~/Content/css/framework-font.css" rel="stylesheet" />
    <link href="~/Content/css/framework-ui.css" rel="stylesheet" />
    <script src="~/Content/js/jquery/jquery-2.1.1.js"></script>
    <link href="~/Content/css/framework-theme.css" rel="stylesheet" />
    <link href="~/Content/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/framework-theme.css" rel="stylesheet" />
    <link href="~/Content/css/framework-about.css" rel="stylesheet" />
</head>
<body>
    <div class="rows" style="margin-bottom: 1%; border: 1px solid #e6e6e6; overflow: hidden; padding-left: 1px;">
        <div class="col-md-2" style="padding:0px">
            <div class="panel panel-default">
                <div class="panel-heading">
                    目录
                </div>
                <div class="panel-body">
                    <ul>
                        <li>1.平台介绍</li>
                        <li>2.工作原理介绍</li>
                        <li>3.代码结构介绍</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-10" style="padding:0px 0px 0px 2px">
            <div class="panel panel-default" style="line-height:25px">

                <div class="panel-heading">
                    3.代码结构介绍
                </div>
                <div class="panel-body">
                    代码结构图如下：
                    <img src="~/Content/img/sdk/project_struct.png" />
                    代码基础
                    controller
                    view
                    domain
                    ef
                    plugin
                    数据库说明
                </div>
            </div>
        </div>
        
    </div>
    <div class="rows" style="margin-bottom: 1%; border: 1px solid #e6e6e6; overflow: hidden; padding-left: 1px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                Evolution技术介绍
            </div>
            <div class="panel-body" style="overflow: hidden;">
                <div style="float: left; width: 50%;">
                    <p>1、前端技术</p>
                    <p>JS框架：jquery-2.1.1、Bootstrap.js、JQuery UI</p>
                    <p>CSS框架：Bootstrap v3.3.4（稳定是后台，UI方面根据需求自己升级改造吧）。</p>
                    <p>客户端验证：jQuery Validation Plugin 1.9.0。</p>
                    <p>在线编辑器：ckeditor、simditor</p>
                    <p>上传文件：Uploadify v3.2.1</p>
                    <p>动态页签：Jerichotab（自己改造）</p>
                    <p>数据表格：jqGrid、Bootstrap Talbe</p>
                    <p>对话框：layer-v2.3</p>
                    <p>下拉选择框：jQuery Select2</p>
                    <p>树结构控件：jQuery zTree、jQuery wdtree</p>
                    <p>页面布局：jquery.layout.js 1.4.4</p>
                    <p>图表插件：echarts、highcharts</p>
                    <p>日期控件： My97DatePicker</p>
                </div>
                <div style="float: left; width: 50%;">
                    <p>2、后端技术</p>
                    <p>核心框架：ASP.NET MVC6</p>
                    <p>持久层框架：EntityFramework Core 1.0</p>
                    <p>定时计划任务：Quartz.Net组件</p>
                    <p>安全支持：过滤器、Sql注入、请求伪造</p>
                    <p>服务端验证：实体模型验证、自己封装Validator</p>
                    <p>缓存框架：微软自带Cache、Redis</p>
                    <p>日志管理：Log4net、登录日志、操作日志</p>
                    <p>工具类：EPPlus.Core、Newtonsoft.Json、验证码、丰富公共类似</p>
                </div>
            </div>
        </div>
    </div>
    <div class="rows" style="margin-bottom: 1%; border: 1px solid #e6e6e6; overflow: hidden; padding-left: 1px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                联系作者
            </div>
            <div class="panel-body">
                <p>
                    赞助作者：觉得对你有帮助，请她和一杯咖啡吧
                    <button type="button" onclick="dashangToggle()" class="btn btn-success btn-xs" style="margin-left: 10px; margin-top: -5px; padding-top: 2px;"><i class="fa fa-rmb" style="padding-right: 5px;"></i>我要打赏</button>
                </p>
                <p>
                    向我提问：欢迎向我提问，由于个人精力有限，并不是每一个问题都会去回答；邮箱地址：
                    <a href="#">chenflyxp@gmail.com</a>
                </p>
                <p>获取最新源代码：<a href="https://github.com/CAH-FlyChen/Evolution.Framework" target="_blank">https://github.com/CAH-FlyChen/Evolution.Framework</a>、作者QQ：、技术交流群：489791124</p>
            </div>
        </div>
    </div>

    <div class="contentpay">
        <div class="hide_box"></div>
        <div class="shang_box">
            <a class="shang_close" href="javascript:void(0)" onclick="dashangToggle()" title="关闭">
                <img src="~/Content/img/button_pm_close.png" alt="取消" /></a>
            <div class="shang_tit">
                <p>感谢您的支持，我会继续努力的!</p>
            </div>
            <div class="shang_payimg">
                @*<img src="~/Content/img/weipayimg.png" alt="扫码支持" title="扫一扫" />*@
            </div>
            @*<div class="pay_explain">扫码打赏，你说多少就多少</div>
            <div class="shang_payselect">
                <div class="pay_item checked" data-id="weipay">
                    <span class="radiobox"></span>
                    <span class="pay_logo">
                        <img src="~/Content/img/wechat.jpg" alt="微信" /></span>
                </div>
                <div class="pay_item" data-id="alipay">
                    <span class="radiobox"></span>
                    <span class="pay_logo">
                        <img src="~/Content/img/alipay.jpg" alt="支付宝" /></span>
                </div>
            </div>
            <div class="shang_info">
                <p>打开<span id="shang_pay_txt">支付宝</span>扫一扫，即可进行扫码打赏哦</p>
            </div>*@
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $(".pay_item").click(function () {
                $(this).addClass('checked').siblings('.pay_item').removeClass('checked');
                var dataid = $(this).attr('data-id');
                $(".shang_payimg img").attr("src", "/Content/img/" + dataid + "img.png");
                $("#shang_pay_txt").text(dataid == "alipay" ? "支付宝" : "微信");
            });
        });
        function dashangToggle() {
            $(".hide_box").fadeToggle();
            $(".shang_box").fadeToggle();
        }
    </script>
</body>
</html>
